html, body {
  height: 100%; }

body {
  background: url("../images/bg.jpg") no-repeat top left #b3c2d3;
  background-size: cover;
  font-family: "Bebas Neue", sans-serif;
  font-size: 16px; }
  @media screen and (max-width: 650px) {
    body {
      /* for mobile */
      width: 100%; } }
  body .christmas {
    text-align: center;
    font-size: 3.5rem;
    border-radius: 5px;
    padding: 15px;
    min-height: 90px;
    margin: 10px auto 20px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    color: #cc263a;
    width: 650px; }
    body .christmas b {
      color: #1468c5; }
    @media screen and (max-width: 650px) {
      body .christmas {
        /* for mobile */
        font-size: 3rem;
        width: 100%; } }
    body .christmas .sub-christmas {
      font-size: 1.5rem;
      margin-top: 5px; }
      body .christmas .sub-christmas a {
        color: #1468c5;
        text-decoration: none; }
  body section.main {
    height: 100%;
    display: flex;
    align-items: center; }
    body section.main .sign {
      font-size: 1.1rem;
      text-align: center;
      padding: 30px;
      position: absolute; }
    body section.main .tree {
      background: url("../images/tree.png") no-repeat center;
      background-size: contain;
      width: 650px;
      margin: 130px auto 0;
      left: 0;
      right: 0;
      position: absolute; }
      body section.main .tree:after {
        content: "";
        display: block;
        padding-bottom: 100%; }
      @media screen and (max-width: 650px) {
        body section.main .tree {
          /* for mobile */
          background-size: 85%;
          width: 100%; }
          body section.main .tree:after {
            content: "";
            display: block;
            padding-bottom: 150%; } }
      body section.main .tree .ball {
        /*height: 25px;
        width: 25px;
        max-width: 10%;
        background: #fff;*/
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%; }
        @media screen and (max-width: 650px) {
          body section.main .tree .ball {
            height: 20px;
            width: 20px; } }
            /*
        body section.main .tree .ball:before {
          content: "";
          position: absolute;
          top: 1%;
          left: 5%;
          width: 90%;
          height: 90%;
          border-radius: 50%;
          background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 60%);
          filter: blur(5px); }
          */
        body section.main .tree .ball:hover {
          box-shadow: 0px 5px 20px #fff;
          transition: .3s;
          opacity: 1; }
        body section.main .tree .ball.position-1 {
          background-color: #01dddd;
          top: 15%;
          left: 52%; }
        body section.main .tree .ball.position-2 {
          background-color: #e30000;
          top: 20%;
          left: 50%; }
        body section.main .tree .ball.position-3 {
          background-color: #009c23;
          top: 30%;
          left: 46%; }
        body section.main .tree .ball.position-4 {
          background-color: #9901cc;
          top: 35%;
          left: 50%; }
        body section.main .tree .ball.position-5 {
          background-color: #fa5913;
          top: 45%;
          left: 37%; }
        body section.main .tree .ball.position-6 {
          background-color: #522acc;
          top: 48%;
          left: 59%; }
        body section.main .tree .ball.position-7 {
          background-color: #ccca16;
          top: 55%;
          left: 42%; }
          @media screen and (max-width: 650px) {
            body section.main .tree .ball.position-7 {
              /* for mobile */
              left: 34%; } }
        body section.main .tree .ball.position-8 {
          background-color: #284ccc;
          top: 63%;
          left: 55%; }
        body section.main .tree .ball.position-9 {
          background-color: #27cc94;
          top: 67%;
          left: 59%; }
        body section.main .tree .ball.position-10 {
          background-color: #e30000;
          top: 75%;
          left: 40%; }
        body section.main .tree .ball.position-11 {
          background-color: #fa5913;
          top: 80%;
          left: 65%; }
        body section.main .tree .ball.position-12 {
          background-color: #e70069;
          top: 80%;
          left: 50%; }
        body section.main .tree .ball.position-13 {
          background-color: #01dddd;
          top: 85%;
          left: 30%; }
          @media screen and (max-width: 650px) {
            body section.main .tree .ball.position-13 {
              /* for mobile */
              left: 22%; } }
        body section.main .tree .ball.position-14 {
          background-color: #009c23;
          top: 83%;
          left: 40%; }
        body section.main .tree .ball.position-15 {
          background-color: #ccca16;
          top: 83%;
          left: 70%; }
          @media screen and (max-width: 650px) {
            body section.main .tree .ball.position-15 {
              /* for mobile */
              left: 78%; } }
        body section.main .tree .ball.position-16 {
          background-color: #9901cc;
          top: 50%;
          left: 50%; }
        body section.main .tree .ball.position-17 {
          background-color: #cc4500;
          top: 40%;
          left: 42%; }
        body section.main .tree .ball.position-18 {
          background-color: #accc5e;
          top: 42%;
          left: 55%; }
        body section.main .tree .ball.position-19 {
          background-color: #27cc94;
          top: 25%;
          left: 42%; }
        body section.main .tree .ball.position-20 {
          background-color: #122472;
          top: 15%;
          left: 44%; }
        body section.main .tree .ball.position-21 {
          background-color: #ccca16;
          top: 8%;
          left: 50%; }
        body section.main .tree .ball.position-22 {
          background-color: #009c23;
          top: 25%;
          left: 55%; }
        body section.main .tree .ball.position-23 {
          background-color: #284ccc;
          top: 33%;
          left: 55%; }
        body section.main .tree .ball.position-24 {
          background-color: #fa5913;
          top: 40%;
          left: 60%; }
        body section.main .tree .ball.position-25 {
          background-color: #522acc;
          top: 60%;
          left: 48%; }
        body section.main .tree .ball.position-26 {
          background-color: #e70069;
          top: 65%;
          left: 45%; }
        body section.main .tree .ball.position-27 {
          background-color: #01dddd;
          top: 67%;
          left: 40%; }
        body section.main .tree .ball.position-28 {
          background-color: #ccca16;
          top: 63%;
          left: 35%; }
          @media screen and (max-width: 650px) {
            body section.main .tree .ball.position-28 {
              /* for mobile */
              left: 27%; } }
        body section.main .tree .ball.position-29 {
          background-color: #9901cc;
          top: 65%;
          left: 65%; }
        body section.main .tree .ball.position-30 {
          background-color: #284ccc;
          top: 55%;
          left: 62%; }
          @media screen and (max-width: 650px) {
            body section.main .tree .ball.position-30 {
              /* for mobile */
              left: 70%; } }
        body section.main .tree .ball.position-31 {
          background-color: #27cc94;
          top: 85%;
          left: 63%; }
        body section.main .tree .ball.position-32 {
          background-color: #81d22f;
          top: 85%;
          left: 55%; }
        body section.main .tree .ball.position-33 {
          background-color: #e30000;
          top: 75%;
          left: 55%; }
        body section.main .tree .ball.position-34 {
          background-color: #122472;
          top: 90%;
          left: 65%; }
        body section.main .tree .ball.position-35 {
          background-color: #cc4500;
          top: 90%;
          left: 35%; }
        body section.main .tree .ball.position-36 {
          background-color: #284ccc;
          top: 77%;
          left: 33%; }
          @media screen and (max-width: 650px) {
            body section.main .tree .ball.position-36 {
              /* for mobile */
              left: 28%; } }
        body section.main .tree .ball.position-37 {
          background-color: #122472;
          top: 70%;
          left: 50%; }
        body section.main .tree .ball.position-38 {
          background-color: #fa5913;
          top: 72%;
          left: 65%; }
          @media screen and (max-width: 650px) {
            body section.main .tree .ball.position-38 {
              /* for mobile */
              left: 73%; } }
        body section.main .tree .ball.position-39 {
          background-color: #01dddd;
          top: 40%;
          left: 50%; }
        body section.main .tree .ball.position-40 {
          background-color: #e70069;
          top: 55%;
          left: 55%; }
      body section.main .tree .empty {
        box-shadow: 0 0 10px #fff;
        background: white !important;
        opacity: .8; }

.modal {
  display: none; }
  .modal:focus {
    border: 0; }
  .modal #modal-read-message {
    font-style: italic; }
  .modal #modal-read-name {
    float: right; }
  .modal #modal-wish-position {
    display: none; }
  .modal .modal__content label {
    display: block;
    font-weight: 600; }
  .modal .modal__content input {
    height: 30px; }
  .modal .modal__content input, .modal .modal__content textarea {
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #e4e4e4; }
    .modal .modal__content input.w-100, .modal .modal__content textarea.w-100 {
      width: 100%; }
  .modal .modal__content #modal-wish-hint {
    background: #ff6262;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: .9rem;
    display: none; }
    .modal .modal__content #modal-wish-hint.is-show {
      display: block; }
  .modal.is-open {
    display: block; }

/*# sourceMappingURL=main.css.map */
